extends /layout

mixin row(user)
  tr
    td
      img(src=user.avatar, alt=user.name)
    td= user.name
    td= user.real_name
    td
      p= user.activeChips.length        
    td
      p= user.nonActiveChips.length + user.activeChips.length
    td
      a.give-chip(href='/admin/user/chip/' + user.uid) Give Chip
    td
      if user.transactions
        each transaction in user.transactions
          if user.name == transaction.to.name
            p from #{transaction.from.name}
          else
            p to #{transaction.to.name}
    td
      if user.active
        a.deactivate(href='/admin/user/deactivate/' + user.uid) Deactivate
      else
        a.activate(href='/admin/user/activate/' + user.uid) Activate

block content
  h1= title

  table
    tr
      th Avatars
      th Username
      th Name
      th Active Chips
      th Total Chips
      th Chip
      th Transactions
      th Status
    each user in users
      if user.active
        +row(user)
    each user in users
      if !user.active
        +row(user)

  h2 Tools
    p
      a(href='/admin/users/leaderboard') Leaderboard
    p
      a#import-users(href='/admin/users/import') Import Users