extends layout

block content
  h1= title

  table
    tr
      th Avatar
      th Username
      th Name
      th Chips
      th Transactions
      th Status
    each user in users
      tr
        td
          img(src=user.avatar, alt=user.name)
        td= user.name
        td= user.real_name
        td
          p= user.chips.length
            a.give-chip(href='/chips/give/' + user.uid) Give Chip
        td
          each transaction in user.transactions
            p #{transaction.direction ? 'from' : 'to'} #{transaction.user.name}
        td
          if user.active
            a.deactivate(href='/users/deactivate/' + user.uid) Deactivate
          else
            a.activate(href='/users/activate/' + user.uid) Activate

  